.desktop-container {
  min-height: 100vh;
}
.desktop-desktop {
  width: 100%;
  height: 1314px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  background-color: rgba(255, 240, 240, 1);
}
.desktop-container1 {
  top: 129px;
  left: 234px;
  width: 293px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  border-color: transparent;
}
.desktop-text {
  color: var(--dl-color-gray-8);
  height: auto;
  font-size: 48px;
  align-self: auto;
  font-style: SemiBold;
  text-align: left;
  font-family: Poppins;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.desktop-nav {
  top: 40px;
  left: 236px;
  width: 411px;
  display: flex;
  padding: 15px 22px 15px 2px;
  position: absolute;
  align-items: flex-start;
  border-color: transparent;
}
.desktop-text02 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  font-size: 34px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Poppins;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 30px;
  margin-bottom: 0;
  text-decoration: underline;
}
.desktop-text04 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  font-size: 34px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Poppins;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 30px;
  margin-bottom: 0;
  text-decoration: underline;
}
.desktop-text06 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  font-size: 34px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Poppins;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: underline;
}
.desktop-card-component {
  top: 270px;
  left: 289px;
  width: 694px;
  height: 590px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: rgba(241, 243, 245, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 8px;
  flex-direction: column;
  background-color: rgba(255, 255, 255, 1);
}
.desktop-image19 {
  width: auto;
  height: auto;
  position: relative;
  flex-grow: 1;
  align-self: stretch;
  border-color: transparent;
  margin-bottom: 0px;
}
.desktop-image20 {
  width: auto;
  height: 513px;
  position: relative;
  align-self: stretch;
  border-color: transparent;
  margin-bottom: 0px;
}
.desktop-content {
  height: 133px;
  display: flex;
  position: relative;
  align-self: stretch;
  align-items: flex-end;
  flex-shrink: 0;
  border-color: transparent;
  margin-bottom: 0px;
  flex-direction: column;
}
.desktop-details {
  height: 368px;
  display: flex;
  padding: 16px 16px 4px 16px;
  position: relative;
  align-self: stretch;
  align-items: flex-end;
  flex-shrink: 0;
  border-color: transparent;
  flex-direction: column;
  justify-content: flex-end;
}
.desktop-detailsheader {
  display: flex;
  padding: 0 8px;
  position: relative;
  align-self: stretch;
  align-items: flex-start;
  border-color: transparent;
  margin-bottom: 10px;
  flex-direction: column;
}
.desktop-heading {
  display: flex;
  position: relative;
  align-items: flex-start;
  border-color: transparent;
  margin-bottom: 21px;
  flex-direction: column;
}
.desktop-text08 {
  color: var(--dl-color-gray-9);
  height: auto;
  font-size: 14px;
  align-self: auto;
  font-style: Medium;
  text-align: left;
  font-family: Poppins;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 2px;
  text-decoration: none;
}
.desktop-text10 {
  color: var(--dl-color-gray-9);
  height: auto;
  font-size: 18px;
  align-self: auto;
  font-style: Medium;
  text-align: left;
  font-family: Poppins;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 2px;
  text-decoration: none;
}
.desktop-text12 {
  color: rgba(73, 80, 87, 1);
  height: auto;
  font-size: 12px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Poppins;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.desktop-frame18 {
  width: 247px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
}
.desktop-frame15 {
  display: flex;
  position: relative;
  align-items: flex-start;
  border-color: transparent;
}
.desktop-text14 {
  color: rgba(73, 80, 87, 1);
  height: auto;
  font-size: 14px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Poppins;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.desktop-add-to-cart-button {
  display: flex;
  padding: 8px 12px;
  position: relative;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  border-color: transparent;
  border-radius: 8px;
  justify-content: center;
  background-color: rgba(191, 62, 3, 1);
}
.desktop-frame24 {
  display: flex;
  position: relative;
  align-items: center;
  border-color: transparent;
}
.desktop-text16 {
  color: var(--dl-color-gray-0);
  height: auto;
  font-size: 18px;
  align-self: auto;
  font-style: Medium;
  text-align: left;
  font-family: Poppins;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.desktop-content1 {
  height: 133px;
  display: flex;
  position: relative;
  align-self: stretch;
  align-items: flex-end;
  flex-shrink: 0;
  border-color: transparent;
  flex-direction: column;
}
.desktop-details1 {
  top: 936px;
  left: 1015px;
  width: 247px;
  display: flex;
  padding: 16px 16px 4px 16px;
  position: absolute;
  align-self: stretch;
  align-items: flex-end;
  border-color: transparent;
  flex-direction: column;
  justify-content: flex-end;
}
.desktop-detailsheader1 {
  display: flex;
  padding: 0 8px;
  position: relative;
  align-self: stretch;
  align-items: flex-start;
  border-color: transparent;
  margin-bottom: 10px;
  flex-direction: column;
}
.desktop-heading1 {
  display: flex;
  position: relative;
  align-items: flex-start;
  border-color: transparent;
  flex-direction: column;
}
.desktop-text18 {
  color: var(--dl-color-gray-9);
  height: auto;
  font-size: 14px;
  align-self: auto;
  font-style: Medium;
  text-align: left;
  font-family: Poppins;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 2px;
  text-decoration: none;
}
.desktop-text20 {
  color: var(--dl-color-gray-9);
  height: auto;
  font-size: 18px;
  align-self: auto;
  font-style: Medium;
  text-align: left;
  font-family: Poppins;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 2px;
  text-decoration: none;
}
.desktop-text22 {
  color: rgba(73, 80, 87, 1);
  height: auto;
  font-size: 12px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Poppins;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.desktop-detailsheader2 {
  display: flex;
  padding: 0 8px;
  position: relative;
  align-self: stretch;
  align-items: flex-start;
  border-color: transparent;
  margin-bottom: 10px;
  flex-direction: column;
}
.desktop-heading2 {
  display: flex;
  position: relative;
  align-items: flex-start;
  border-color: transparent;
  flex-direction: column;
}
.desktop-text24 {
  color: var(--dl-color-gray-9);
  height: auto;
  font-size: 14px;
  align-self: auto;
  font-style: Medium;
  text-align: left;
  font-family: Poppins;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 2px;
  text-decoration: none;
}
.desktop-text26 {
  color: var(--dl-color-gray-9);
  height: auto;
  font-size: 18px;
  align-self: auto;
  font-style: Medium;
  text-align: left;
  font-family: Poppins;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 2px;
  text-decoration: none;
}
.desktop-text28 {
  color: rgba(73, 80, 87, 1);
  height: auto;
  font-size: 12px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Poppins;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.desktop-detailsheader3 {
  display: flex;
  padding: 0 8px;
  position: relative;
  align-self: stretch;
  align-items: flex-start;
  border-color: transparent;
  flex-direction: column;
}
.desktop-heading3 {
  display: flex;
  position: relative;
  align-items: flex-start;
  border-color: transparent;
  flex-direction: column;
}
.desktop-text30 {
  color: var(--dl-color-gray-9);
  height: auto;
  font-size: 14px;
  align-self: auto;
  font-style: Medium;
  text-align: left;
  font-family: Poppins;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 2px;
  text-decoration: none;
}
.desktop-text32 {
  color: var(--dl-color-gray-9);
  height: auto;
  font-size: 18px;
  align-self: auto;
  font-style: Medium;
  text-align: left;
  font-family: Poppins;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 2px;
  text-decoration: none;
}
.desktop-text34 {
  color: rgba(73, 80, 87, 1);
  height: auto;
  font-size: 12px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Poppins;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.desktop-description {
  top: 270px;
  left: 1028px;
  width: 221px;
  display: flex;
  padding: 20px 0 0 0;
  position: absolute;
  align-items: flex-start;
  border-color: transparent;
  flex-direction: column;
}
.desktop-text36 {
  color: var(--dl-color-gray-9);
  width: 221px;
  height: auto;
  font-size: 14px;
  align-self: auto;
  font-style: Medium;
  text-align: left;
  font-family: Poppins;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
